<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title - small task scheduler</title>
        @RenderSection("meta", required: false)
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link href="~/Content/themes/Default/bootstrap.css" rel="stylesheet">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquerymigrate")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/datetimepicker")
        @Styles.Render("~/Content/datetimepicker")
        <script src="@Url.Content("~/Scripts/grid.js")"></script>
        @Html.Partial("_html5shiv")

        <!-- Fav and touch icons -->
        @*<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="~/Content/ico/apple-touch-icon-57-precomposed.png">*@
        <link href="~/Content/ico/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        @Html.Partial("_NavBar")

        @RenderSection("featured", required: false)
    
        <div class="container">
            @RenderBody()
            <hr />
            <div class="footer">
                <p>ShedlR &copy; - small task scheduler. Author - Yan Brovkin, 2014</p>
            </div>
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>